SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PRIVATE_KEY_PATH=
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=
SNOWFLAKE_WAREHOUSE=GAA_WH
SNOWFLAKE_DATABASE=GAA
SNOWFLAKE_SCHEMA=MARTS
SNOWFLAKE_SERVICE_USER_PREFIX=GAA_SVC_
ANTHROPIC_API_KEY=
GAA_MCP_TOKEN=
GAA_STATEMENT_TIMEOUT_SECONDS=120
GAA_MAX_ROWS=5000
GAA_CREDIT_QUOTA=50
